pandas==0.25.3
numpy==1.17.4
tables==3.5.2
openpyxl==3.0.0

oemof.solph==0.4.4
oemof.thermal==0.0.3
demandlib==0.1.6
pvlib==0.7.1
richardsonpy==0.2.1
dash==1.7.0
dash_canvas==0.1.0
pydot==1.4.1
graphviz==0.13.2
xlrd==1.2.0
Pyomo==5.7.1
Werkzeug==2.0.3
Flask==2.1.3
xlsxwriter
