setuptools=70.0.0
numpy<2.0
streamlit
xlsxwriter 
oemof.solph==0.5.2
shapely>=2.0.1 
feedinlib @ https://github.com/SESMG/feedinlib/archive/refs/heads/dev.zip 
demandlib @ https://github.com/SESMG/demandlib/archive/refs/heads/dev.zip
open_fred-cli>=0.0.1
geocoder>=1.38.0 
sympy>=1.10.0 
richardsonpy>=0.2.0 
graphviz>=0.20 
memory-profiler>=0.60.0 
openpyxl>=3.0.0 
scikit-learn-extra>=0.2.0 
pyutilib>=6.0.0
oemof-network==0.5.0
oemof.thermal @ https://github.com/oemof/oemof-thermal/archive/refs/heads/dev.zip
dhnx @ https://github.com/SESMG/DHNx/archive/refs/heads/dev_oemof_network_050_compatibility.zip 
streamlit-aggrid>=0.3.0 
dash>=2.4.0
pytest
pyside6
