name: Test coverage

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install system dependencies
      run: sudo apt-get update && sudo apt-get install -y libboost-all-dev build-essential cmake

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage coverage-lcov

    - name: Run tests and generate coverage report
      run: |
        coverage run -m pytest tests
        coverage lcov -o reports/lcov.info   # LCOV for qlty
        coverage xml -o coverage.xml         # XML for Codecov

    - name: Upload to Codecov
      uses: codecov/codecov-action@v3.1.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # Optional for public repos

    - name: Upload to Code Climate / qlty
      uses: qltysh/qlty-action/coverage@v2
      with:
        token: ${{secrets.QLTY_COVERAGE_TOKEN}}
        files: reports/lcov.info
